body {
  background-image: url('assets/img/imagen1.jpg');
  background-size: cover;         /* Ajusta para cubrir toda la pantalla */
  background-position: center;    /* Centra la imagen */
  background-repeat: no-repeat;   /* Evita repeticiones */
  background-attachment: fixed;   /* Hace que el fondo no se desplace */
}

.btn-primary {
  background-color: #ff5733;
  border: none;
  transition: background-color 0.4s ease, transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #e74c3c;
  transform: scale(1.05);
}

.card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  body {
    background-color: #f0f8ff;
  }

  h1 {
    font-size: 2rem;
    color: #ff5733;
  }
}
